body {
    background: rgba(0, 0, 0, 0.01);
    font-family: Verdana, sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
    font-size: 100%;
    line-height: 1.5
}


/*CLEAR FIX SOLLUTION*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

main{
    background-color: lightgrey;
    display: flex;
    flex-wrap: wrap;
}
/*
 Default display of elements on page is called "stacked"
to get your element on the same line we use something called flexbox 
to invoke flexbox, use the rule: 
         display: flex;
    flexbox attempts to palce all elements within its "specified container area"
     on the same line
     flexbox will automatically adjust measurements to get all elements
     to appear on the same line
     
    problem: I don't want all elements on the same line.
             I dont want my measurements adjusted
    solution: 
        use flex-wrap: wrap;
        this will place as many elements as possible on a single row
            without adjusting the measurements of your element, and 
            any leftover elements will wrap to the following line
            until all elements have been displayed
    flex-wrap affects a flex display area, without the display :flex;
        flex-wrap is meaningless.
*/
main > div{
    height: 300px;
    width: 270px;
    margin: 30px 0px 30px 30px;
}

main{
    background-color: lightgray;
}

div{
    margin: 30px 0px 30px 30px;
    width: 400px;
}





/* since there is no actual content, we wills simulate the conetn with a fixed height value of 200px */
/* 
    calculations
960 = 2(20px + 0px + 0px + 465 + 10px + 0px + 0px) 
total = 2((one calc per box) left margin (10red 10blue) + no border + no padding + content + right margin + no border + no padding)
960 = 2(content) + 30
960 - 30 = 2(content)
930/2 = content
465px = content

black bar element
960 = (20px + 0px + 0px + 940 + 10px + 0px + 0px) 

960 = 3(90px + conent + 60px)
960 = 3(content) + 150
960 - 150 =3(content)
810 = 3(content
810/30 = content
270px = content

*/

.red-paint{
    background-color: red;
    margin: 30px 0px 30px 30px;
}

.blue-paint{
    background-color: blue;
    margin: 30px 0px 30px 30px;
}

.yellow-paint{
    background-color: yellow;
    margin: 30px 0px 30px 30px;
}


footer{
    background-color: lightgrey;
    height: 0px;
    display: flex;
}

h1{
    font-weight: bold;
}